<div class="monaco-run-widget" data-monaco-run-widget="true" data-source-url="{{ '/assets/runs/monaco/monaco_run.json' | prepend: site.baseurl }}">
  <div class="monaco-widget-grid">
    <div class="monaco-widget-map"></div>
    <div class="monaco-widget-timeseries"></div>
  </div>

  <div class="monaco-widget-readout">
    <span><strong>Distance:</strong> <span data-field="distance">-</span></span>
    <span><strong>Speed (min/km):</strong> <span data-field="speed">-</span></span>
    <span><strong>Heart rate:</strong> <span data-field="hr">-</span></span>
    <span><strong>Time:</strong> <span data-field="time">-</span></span>
  </div>
</div>
